<!doctype html>
<title>OIDC App</title>
<style>
  body { font-family: sans-serif; }
  pre { background: #eee; padding: 1em; }
</style>

{% if user %}
  <h2>Welcome, <strong>{{ user }}</strong>!</h2>
  <a href="{{ url_for('.create_client') }}">Create New Client</a>
  <h3>Your Clients:</h3>
  {% for client in clients %}
  <pre>{{ client.client_info|tojson(indent=2) }}</pre>
  <pre>{{ client.client_metadata|tojson(indent=2) }}</pre>
  {% endfor %}
{% else %}
  <form action="" method="post">
    <h2>Login or Signup</h2>
    <div>
      <label>Username</label>
      <input type="text" name="username" required>
    </div>
    <div>
      <label>Email</label>
      <input type="email" name="email" required>
    </div>
    <button type="submit">Login / Signup</button>
  </form>
{% endif %}